<nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="btn btn-primary" [routerLink]="['new']">
      <fa-icon [icon]="['fas', 'plus']"></fa-icon>
      Adicionar</a
    >
    <form [formGroup]="form" class="d-flex" role="search" (ngSubmit)="onSubmit()">
      <input
        class="form-control"
        type="search"        
        aria-label="Search"
        [placeholder]="searchByField"
        formControlName="searchByField"
      />
      <button class="btn btn-outline-success" type="submit" [disabled]="form.invalid">
        <fa-icon [icon]="['fas', 'magnifying-glass']"></fa-icon>
        Buscar
      </button>
    </form>
  </div>
</nav>
