<form [formGroup]="form" (ngSubmit)="onSave()">
  <div class="mb-3">
    <label for="inputName" class="form-label">Nome</label>
    <input
      type="text"
      class="form-control"
      id="inputName"
      formControlName="name"
      [ngClass]="{ 'is-invalid': isNameInvalid }"
    />
    <div *ngIf="controls.name?.errors?.required" class="invalid-feedback">
      Um nome é necessário
    </div>
    <div *ngIf="controls.name?.errors?.pattern" class="invalid-feedback">
      Um nome precisa ter um padrão
    </div>
  </div>

  <div class="mb-3">
    <label for="inputPhone" class="form-label">Telefone</label>
    <input
      type="tel"
      class="form-control"
      id="inputPhone"
      formControlName="phone"
      [textMask]="{ mask: MASKS.telefone.textMask }"
      [ngClass]="{ 'is-invalid': isPhoneInvalid }"
    />
    <div *ngIf="controls.phone?.errors?.required" class="invalid-feedback">
      Telefone é necessário
    </div>
    <div *ngIf="controls.phone?.errors?.telefone" class="invalid-feedback">
      Um telefone precisa ter um padrão
    </div>
  </div>

  <div class="mb-3">
    <label for="roleMember" class="form-label">Posição</label>
    <select id="roleMember" class="form-select" formControlName="role">
      <option *ngFor="let value of roles" [ngValue]="value">
        {{ roleapping[value] }}
      </option>
    </select>
  </div>

  <div class="mb-3">
    <label for="formFile" class="form-label">Escolha uma foto</label>
    <input class="form-control" type="file" id="formFile" />
  </div>

  <div class="btn-group me-2" role="group">
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Salvar
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-danger" (click)="onCancel()">
      Cancelar
    </button>
  </div>
</form>
