<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th *ngFor="let column of columns">{{ column.name }}</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let element of elements">
        <tr>
          <td *ngFor="let column of columns">
            {{ resolveField(element, column.field) }}
          </td>
          <td>
            <a
              [routerLink]="['edit', element.id]"
              class="btn btn-secondary"
              >
              <fa-icon [icon]="['fas', 'pen']"></fa-icon>
              Editar
              </a
            >
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
