<form [formGroup]="form" (ngSubmit)="(signin)">
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Endereço de email</label>
    <input
      type="email"
      class="form-control"
      id="inputEmail"
      formControlName="email"
      [ngClass]="{ 'is-invalid': isEmailInvalid }"
    />
    <div *ngIf="controls.email?.errors?.required" class="invalid-feedback">
      Email é necessário
    </div>
    <div *ngIf="controls.email?.errors?.email" class="invalid-feedback">
      Email inválido
    </div>
  </div>

  <div class="mb-3">
    <label for="inputPassword" class="form-label">Senha</label>
    <input
      type="password"
      class="form-control"
      id="inputPassword"
      formControlName="password"
      [ngClass]="{ 'is-invalid': isPasswordInvalid }"
    />
    <div *ngIf="controls.password?.errors?.required" class="invalid-feedback">
      Senha é necessária
    </div>
    <div *ngIf="controls.password?.errors?.pattern" class="invalid-feedback">
      Uma senha precisa ter um padrão
    </div>
  </div>

  <div class="mb-3 form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="checkBox"
      formControlName="remember"
    />
    <label class="form-check-label" for="checkBox">Lembrar-se de mim?</label>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="isformInvalid">
    Entrar
  </button>
</form>
