<ng-container [ngSwitch]="isLoggedIn()">
  <li *ngSwitchCase="false" class="nav-item">
    <a
      class="nav-link"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      [routerLink]="['/account/signin']"
    >
      <fa-icon [icon]="['fas', 'arrow-right-to-bracket']"></fa-icon>
      Entrar
    </a>
  </li>

  <!-- Dropdown -->
  <li ngbDropdown *ngSwitchCase="true" class="nav-itemt">
    <a
      ngbDropdownToggle
      class="nav-link"
      href="javascript:void(0)"
      role="button"
      data-bs-toggle="dropdown"
      >{{ userName }}</a
    >

    <div ngbDropdownMenu>
      <a ngbDropdownItem [routerLink]="['/account/profile']">Perfil</a>
      <a ngbDropdownItem href="#" (click)="logOut()">
        <fa-icon [icon]="['fas', 'arrow-right-from-bracket']"></fa-icon>
        Sair</a
      >
    </div>
  </li>
</ng-container>
