<div class="card">
  <div class="card-header">
    <h4>Cadastrar-se</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="signup()">
      <div class="mb-3">
        <label for="inputName" class="form-label">Nome</label>
        <input
          type="text"
          class="form-control"
          id="inputName"
          formControlName="name"          
          [ngClass]="{ 'is-invalid': isNameInvalid }"
        />       
        
        <div *ngIf="controls.name?.errors?.required" class="invalid-feedback">
          Nome é necessário
        </div>

        <div *ngIf="controls.name?.errors?.minlength" class="invalid-feedback">          
          O comprimento do nome deve ser de pelo menos 5 caracteres.
        </div>

        <div *ngIf="controls.name?.errors?.maxlength" class="invalid-feedback">
          O comprimento do nome deve ser de no máximo 50 caracteres.
        </div>

        <div
          *ngIf="controls.name?.errors?.withLowerCase"
          class="invalid-feedback"
        >
          O nome deve conter pelo menos uma letra minúscula.
        </div>
        <div
          *ngIf="controls.name?.errors?.withUpperCase"
          class="invalid-feedback"
        >
          O nome deve conter pelo menos uma letra maiúscula.
        </div>
        <div
          *ngIf="controls.name?.errors?.withoutNumbers"
          class="invalid-feedback"
        >
          O nome não deve conter múmeros.
        </div>
        <div
          *ngIf="controls.name?.errors?.withoutSpecialCharacter"
          class="invalid-feedback"
        >
          O nome não deve conter caracteres especiais.
        </div>
      </div>

      <div class="mb-3">
        <label for="inputPhone" class="form-label">Telefone</label>
        <input
          type="tel"
          class="form-control"
          id="inputPhone"
          formControlName="phone"
          [textMask]="{ mask: MASKS.telefone.textMask }"
          [ngClass]="{ 'is-invalid': isPhoneInvalid }"
        />
        <div *ngIf="controls.phone?.errors?.required" class="invalid-feedback">
          Telefone é necessário
        </div>
        <div *ngIf="controls.phone?.errors?.telefone" class="invalid-feedback">
          Um telefone precisa ter um padrão
        </div>
      </div>

      <div class="mb-3">
        <label for="inputEmail" class="form-label">Endereço de email</label>
        <input
          type="email"
          class="form-control"
          id="inputEmail"
          formControlName="email"
          [ngClass]="{ 'is-invalid': isEmailInvalid }"
        />
        <div *ngIf="controls.email?.errors?.required" class="invalid-feedback">
          Email é necessário
        </div>
        <div *ngIf="controls.email?.errors?.email" class="invalid-feedback">
          Email inválido
        </div>
      </div>

      <div class="mb-3">
        <label for="inputPassword" class="form-label">Senha</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          formControlName="password"
          [ngClass]="{ 'is-invalid': isPasswordInvalid }"
        />
        <div
          *ngIf="controls.password?.errors?.required"
          class="invalid-feedback"
        >
          Senha é necessária
        </div>
        <div
          *ngIf="controls.password?.errors?.minlength"
          class="invalid-feedback"
        >
          O comprimento da senha deve ser de pelo menos 8 caracteres.
        </div>
        <div
          *ngIf="controls.password?.errors?.maxlength"
          class="invalid-feedback"
        >
          O comprimento da senha deve ser de no máximo 16 caracteres.
        </div>
        <div
          *ngIf="controls.password?.errors?.withLowerCase"
          class="invalid-feedback"
        >
          A senha precisa conter caracteres em minúsculo.
        </div>
        <div
          *ngIf="controls.password?.errors?.withUpperCase"
          class="invalid-feedback"
        >
          A senha precisa conter caracteres em maiúsculo.
        </div>
        <div
          *ngIf="controls.password?.errors?.withNumbers"
          class="invalid-feedback"
        >
          A senha precisa conter números.
        </div>
        <div
          *ngIf="controls.password?.errors?.withSpecialCharacter"
          class="invalid-feedback"
        >
          A senha precisa conter caracteres especiais.
        </div>
      </div>

      <div class="mb-3">
        <label for="inputPasswordConfirmation" class="form-label"
          >Confirmar Senha</label
        >
        <input
          type="password"
          class="form-control"
          id="inputPasswordConfirmation"
          formControlName="passwordConfirmation"
        />
      </div>

      <div class="mb-3 form-check">
        <input
          type="checkbox"
          class="form-check-input"
          id="checkBox"
          formControlName="remember"
        />
        <label class="form-check-label" for="checkBox"
          >Lembrar-se de mim?</label
        >
      </div>

      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Registrar
      </button>
    </form>
  </div>
</div>
